@use "mantine-overrides";
@use "typography";
@use "forms";
@use "animations";
@use "utils";
*,
*::before,
*::after {
  margin: 0rem;
  box-sizing: border-box;
}

body {
  font-family: typography.$fallback;
  height: 100vh;
  overflow-x: hidden;
}

.headline {
  @extend %h1;
  cursor: default;

  &__colors:nth-child(1):hover {
    color: #b10303;
  }
  &__colors:nth-child(2):hover {
    color: #fcda30;
  }
  &__colors:nth-child(3):hover {
    color: #3e599c;
  }
  &__colors:nth-child(4):hover {
    color: #b10303;
  }
  &__colors:nth-child(5):hover {
    color: #2cba1d;
  }
  &__colors:nth-child(6):hover {
    color: #f76707;
  }
  &__colors:nth-child(7):hover {
    color: #970a5b;
  }
  &__colors:nth-child(8):hover {
    color: #b10303;
  }
  &__colors:nth-child(9):hover {
    color: #495057;
  }

  &__sub {
    @extend %h3;
  }

  &__search {
    @extend %h4;
  }
}
