@use "utils";
@use "typography";
@use "animations";
*,
*::before,
*::after {
  margin: 0rem;
  box-sizing: border-box;
}

.headline {
  @extend %h1;
  cursor: default;

  &__colors:nth-child(1):hover {
    // 1
    color: #b10303;
  }
  &__colors:nth-child(2):hover {
    // 2
    color: #fcda30;
  }
  &__colors:nth-child(3):hover {
    // 3
    color: #3e599c;
  }
  &__colors:nth-child(4):hover {
    // 1
    color: #b10303;
  }
  &__colors:nth-child(5):hover {
    // 4
    color: #2cba1d;
  }
  &__colors:nth-child(6):hover {
    // 5
    color: #f76707;
  }
  &__colors:nth-child(7):hover {
    // 6
    color: #970a5b;
  }
  &__colors:nth-child(8):hover {
    // 1
    color: #b10303;
  }
  &__colors:nth-child(9):hover {
    // 7
    color: #495057;
  }

  &__sub {
    @extend %h2;
  }

  &__search {
    @extend %h3;
  }
}

